body {
  background-color: rgb(6, 99, 99);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.otp-box {
  background-color: rgb(1, 55, 80);
  width: 300px;
  height: 150px;
  text-align: center;
  color: white;
  padding: 5px;
}

#generate-otp {
  width: 310px;
  height: 50px;
  margin-top: 5px;
  font-size: 20px;
}

.check {
  background-color: rgb(1, 55, 80);
  width: 300px;
  height: 150px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 200px;
  height: 50px;
  margin-top: 5px;
  font-size: 20px;
  text-align: center;
}

#submitBtn {
  width: 300px;
  height: 50px;
  font-size: 20px;
  margin-top: 5px;
}

button:hover {
  cursor: pointer;
}

#otpMsz {
  margin-top: -130px;
  text-align: center;
}
